*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: red;
    overflow: hidden;
}
.gamecontainer {
    background-image: url(./images/bg.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
}
.gameover {
    position: relative;
    top:65px;
    font-size: 50px;
    text-align: center;
    font-family: sans-serif;
}
.dino{
    background-image: url(./images/dino.png);
    background-repeat: no-repeat;
    background-size: cover;
   position: absolute;
   width: 233px;
   height:114px;
   bottom: 0px;
   left: 52px;
}
.animateDino {
    animation: dino 2s linear ;

}
@keyframes dino{
    0%{
        bottom: 0px;
    }
    50%{
        bottom: 400px;
    }
    100%{
        bottom: 500px;
    }
}
.obstacle {
    background-image: url(./images/dragon.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 166px;
    height:113px;
    bottom: 0px;
    right: 52px;
}
.obstacleAni {
    animation: obstacle 2s infinite;
}
@keyframes obstacle{
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }
}
#scoreCont{
    position: absolute;
    top: 31px;
    color:#54212f;
    font-weight:bold;
    right: 45px;
    border: 2px groove black;
    padding: 10px;
    border-radius: 10px;
}